name: Run standard checks on push/pull request

on:
  push:
      branches:
      - master
  pull_request:
      branches:
      - master
  pull_request_target:
      types: [labeled]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run linter
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./SRT"
  check:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        env:
          SRT_PASSWORD: ${{ secrets.SRT_PASSWORD }}
          SRT_USERNAME: ${{ secrets.SRT_USERNAME }}
        run: |
          pip install pytest
          pytest SRT -x
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build docs
        uses: ammaraskar/sphinx-action@master
        with:
          pre-build-command: "pip install -r requirements/docs.txt"
          docs-folder: "docs/"

        